/* ========== Begin Global Styles ==========*/

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:after {
	display: table;
	content: " ";
	clear: both;
}

.floatR {
	float: right;
}

.floatL {
	float: left;
}

ul li {list-style-type: none;
	text-decoration: none;}

img {border: 0;}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background: rgba(246,235,163,1) url('../img/bash-heart2.png') fixed center no-repeat;
	background-size: cover;
	font-size: 62.5%;
}

a:link {
	list-style-type: none;
	text-decoration: none;
	color: rgba(246,235,163,1);
}

a:visited {
	color: rgba(227,126,161,1);
}

a:hover {
	color: rgba(255,255,255,1);
	padding: 5px;
}

a:active {
	color: rgba(235,104,33,1);
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.throw {
	position: absolute;
	top: -999em;
	left: -999em;
}

.hide {
	display: none;
}

/* ========== End Global Styles ==========*/

.mainHeader {
	width: 40%;
	height: 100%;
	font-size: 1.5em;
	text-align: center;
	background: rgba(64,36,45,0.8);
	margin-left: 5em;
	margin-right: 2em;
	margin-top: 5em;
	border-radius: .5em;
}

.mainHeader h1 {
	font-size: 2em;
	color: rgba(227,126,161,1);
	text-align: center;
}

.mainHeader nav {
	margin-top: 2em;
}

.mainHeader nav ul li {
	padding: 1em;
	border-radius: .4em;
}

p {
	padding-top: 1em;
}

.mainContent {
	background: rgba(196,128,150,0.8);
	color: rgba(255,255,255,1);
	border-radius: .5em;
}

.mainContent p {
	padding: 1em 5em;
	font-size: 1.5em;
	line-height: 1.6em;
}

mark {
	background: rgba(131,60,83,0.6);
	padding: 0em 0.5em 0em 0.5em;
	color: rgba(230,230,230,1);
}

.mainContent h2 {
	padding-top: 5em;
}

footer {
	width: 100%;
	margin-top: 1em;
	background: rgba(196,128,150,0.8);
	text-align: center;
	padding: .5em;
	border-radius: .5em;
}

footer a:link {
	font-size: 1.5em;
	text-align: center;
	color: rgba(64,36,45,1);
}

/*.wrap {
	float: left;
	width: 50%;
	height: auto;
	shape-outside: url('../img/rita-hayworth-mask.png');
	shape-margin: 2em;
}*/
.wrap {
	float: left;
	width: 50%;
	height: 40%;
	/*shape-outside: url('../img/rita-hayworth-mask.png');*/
	shape-margin: 2em;
	-webkit-shape-outside: url('../img/rita-hayworth-mask.png');
  shape-outside: url('../img/rita-hayworth-mask.png');
  -webkit-clip-path: url('../img/rita-hayworth-mask.png');
  -webkit-shape-margin: 20px;
/*  -webkit-shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  -webkit-shape-margin: 20px;*/
}

.pleasework {
	float: left;
	width: 50%;
	height: 500px;
	/*shape-outside: polygon(504.700% 150.900%, 493.900% 142.900%, 462.100% 122.800%, 438.300% 111.100%, 409.300% 101.200%, 405.300% 100.300%, 401.300% 99.500%, 399.300% 99.100%, 397.200% 98.800%, 393.100% 98.300%, 388.900% 97.900%, 384.700% 97.700%, 382.600% 97.600%, 380.500% 97.700%, 378.400% 97.800%, 377.900% 97.800%, 377.900% 97.800%, 377.600% 97.800%, 376.400% 97.900%, 374.000% 98.100%, 372.800% 98.200%, 371.700% 98.300%, 367.600% 98.900%, 358.800% 100.800%, 340.700% 106.700%, 304.100% 125.700%, 268.000% 152.000%, 259.300% 159.500%, 257.200% 161.400%, 256.300% 162.300%, 255.800% 162.800%, 255.600% 163.000%, 255.200% 163.400%, 251.400% 167.200%, 236.700% 184.800%, 213.100% 225.800%, 205.200% 248.400%, 200.400% 272.000%, 199.100% 296.200%, 199.300% 303.000%, 199.600% 309.400%, 200.000% 315.900%, 200.500% 322.400%, 203.500% 348.300%, 208.600% 373.700%, 210.200% 379.900%, 212.000% 386.100%, 214.000% 392.200%, 216.100% 398.200%, 226.500% 421.200%, 239.700% 442.400%, 255.900% 461.200%, 258.100% 463.400%, 260.300% 465.500%, 264.900% 469.600%, 269.700% 473.500%, 272.100% 475.400%, 274.600% 477.300%, 295.600% 490.700%, 301.100% 493.600%, 303.900% 495.000%, 304.600% 495.400%, 304.900% 495.600%, 305.100% 495.700%, 306.700% 496.400%, 309.800% 497.800%, 312.600% 499.100%, 315.500% 500.400%, 318.500% 501.700%, 343.000% 511.500%, 392.700% 530.000%, 417.200% 539.200%, 429.300% 543.900%, 441.200% 548.700%, 487.100% 568.700%, 529.500% 590.400%, 549.100% 602.000%, 567.500% 614.100%, 600.000% 639.600%, 603.600% 642.900%, 607.100% 646.200%, 613.900% 652.900%, 620.200% 659.600%, 626.100% 666.400%, 645.100% 693.200%, 657.300% 718.200%, 666.600% 755.500%, 667.200% 761.300%, 667.400% 765.500%, 667.600% 768.900%, 666.800% 765.600%, 665.800% 761.500%, 664.300% 755.900%, 659.100% 740.800%, 657.200% 736.300%, 655.100% 731.600%, 652.700% 726.600%, 649.900% 721.500%, 635.400% 699.600%, 614.700% 676.800%, 587.700% 654.500%, 554.900% 633.500%, 517.100% 614.100%, 496.600% 605.000%, 475.100% 596.200%, 381.000% 563.400%, 330.200% 546.600%, 277.200% 524.900%, 270.600% 521.300%, 264.100% 517.400%, 262.500% 516.400%, 260.900% 515.400%, 257.700% 513.300%, 254.500% 511.200%, 251.400% 509.000%, 248.300% 506.800%, 245.200% 504.500%, 239.200% 499.700%, 233.400% 494.600%, 230.600% 492.000%, 227.800% 489.300%, 207.400% 466.000%, 190.900% 439.900%, 169.700% 383.100%, 161.400% 324.900%, 161.100% 317.700%, 160.900% 310.500%, 160.800% 303.200%, 160.800% 296.400%, 163.300% 266.500%, 180.800% 211.000%, 194.500% 186.500%, 210.700% 164.400%, 229.100% 144.700%, 234.200% 140.100%, 234.900% 139.500%, 235.300% 139.200%, 235.300% 139.200%, 236.700% 138.000%, 239.300% 135.900%, 249.400% 128.200%, 269.900% 114.400%, 290.700% 102.400%, 333.100% 84.700%, 354.600% 79.900%, 365.300% 78.700%, 370.900% 78.500%, 372.200% 78.500%, 373.400% 78.500%, 375.800% 78.600%, 377.000% 78.600%, 377.300% 78.600%, 377.900% 78.600%, 378.600% 78.600%, 381.200% 78.800%, 383.800% 79.000%, 386.300% 79.300%, 391.300% 80.000%, 396.100% 80.900%, 414.000% 86.100%, 429.800% 92.900%, 437.000% 96.600%, 443.700% 100.400%, 466.600% 115.700%, 483.700% 129.600%, 495.600% 140.700%, 502.600% 147.900%, 504.700% 150.900%);*/
	-webkit-shape-outside: polygon(504.700% 150.900%, 493.900% 142.900%, 462.100% 122.800%, 438.300% 111.100%, 409.300% 101.200%, 405.300% 100.300%, 401.300% 99.500%, 399.300% 99.100%, 397.200% 98.800%, 393.100% 98.300%, 388.900% 97.900%, 384.700% 97.700%, 382.600% 97.600%, 380.500% 97.700%, 378.400% 97.800%, 377.900% 97.800%, 377.900% 97.800%, 377.600% 97.800%, 376.400% 97.900%, 374.000% 98.100%, 372.800% 98.200%, 371.700% 98.300%, 367.600% 98.900%, 358.800% 100.800%, 340.700% 106.700%, 304.100% 125.700%, 268.000% 152.000%, 259.300% 159.500%, 257.200% 161.400%, 256.300% 162.300%, 255.800% 162.800%, 255.600% 163.000%, 255.200% 163.400%, 251.400% 167.200%, 236.700% 184.800%, 213.100% 225.800%, 205.200% 248.400%, 200.400% 272.000%, 199.100% 296.200%, 199.300% 303.000%, 199.600% 309.400%, 200.000% 315.900%, 200.500% 322.400%, 203.500% 348.300%, 208.600% 373.700%, 210.200% 379.900%, 212.000% 386.100%, 214.000% 392.200%, 216.100% 398.200%, 226.500% 421.200%, 239.700% 442.400%, 255.900% 461.200%, 258.100% 463.400%, 260.300% 465.500%, 264.900% 469.600%, 269.700% 473.500%, 272.100% 475.400%, 274.600% 477.300%, 295.600% 490.700%, 301.100% 493.600%, 303.900% 495.000%, 304.600% 495.400%, 304.900% 495.600%, 305.100% 495.700%, 306.700% 496.400%, 309.800% 497.800%, 312.600% 499.100%, 315.500% 500.400%, 318.500% 501.700%, 343.000% 511.500%, 392.700% 530.000%, 417.200% 539.200%, 429.300% 543.900%, 441.200% 548.700%, 487.100% 568.700%, 529.500% 590.400%, 549.100% 602.000%, 567.500% 614.100%, 600.000% 639.600%, 603.600% 642.900%, 607.100% 646.200%, 613.900% 652.900%, 620.200% 659.600%, 626.100% 666.400%, 645.100% 693.200%, 657.300% 718.200%, 666.600% 755.500%, 667.200% 761.300%, 667.400% 765.500%, 667.600% 768.900%, 666.800% 765.600%, 665.800% 761.500%, 664.300% 755.900%, 659.100% 740.800%, 657.200% 736.300%, 655.100% 731.600%, 652.700% 726.600%, 649.900% 721.500%, 635.400% 699.600%, 614.700% 676.800%, 587.700% 654.500%, 554.900% 633.500%, 517.100% 614.100%, 496.600% 605.000%, 475.100% 596.200%, 381.000% 563.400%, 330.200% 546.600%, 277.200% 524.900%, 270.600% 521.300%, 264.100% 517.400%, 262.500% 516.400%, 260.900% 515.400%, 257.700% 513.300%, 254.500% 511.200%, 251.400% 509.000%, 248.300% 506.800%, 245.200% 504.500%, 239.200% 499.700%, 233.400% 494.600%, 230.600% 492.000%, 227.800% 489.300%, 207.400% 466.000%, 190.900% 439.900%, 169.700% 383.100%, 161.400% 324.900%, 161.100% 317.700%, 160.900% 310.500%, 160.800% 303.200%, 160.800% 296.400%, 163.300% 266.500%, 180.800% 211.000%, 194.500% 186.500%, 210.700% 164.400%, 229.100% 144.700%, 234.200% 140.100%, 234.900% 139.500%, 235.300% 139.200%, 235.300% 139.200%, 236.700% 138.000%, 239.300% 135.900%, 249.400% 128.200%, 269.900% 114.400%, 290.700% 102.400%, 333.100% 84.700%, 354.600% 79.900%, 365.300% 78.700%, 370.900% 78.500%, 372.200% 78.500%, 373.400% 78.500%, 375.800% 78.600%, 377.000% 78.600%, 377.300% 78.600%, 377.900% 78.600%, 378.600% 78.600%, 381.200% 78.800%, 383.800% 79.000%, 386.300% 79.300%, 391.300% 80.000%, 396.100% 80.900%, 414.000% 86.100%, 429.800% 92.900%, 437.000% 96.600%, 443.700% 100.400%, 466.600% 115.700%, 483.700% 129.600%, 495.600% 140.700%, 502.600% 147.900%, 504.700% 150.900%);
	-webkit-shape-margin: 15px;
	/*-webkit-clip-path: polygon(504.700% 150.900%, 493.900% 142.900%, 462.100% 122.800%, 438.300% 111.100%, 409.300% 101.200%, 405.300% 100.300%, 401.300% 99.500%, 399.300% 99.100%, 397.200% 98.800%, 393.100% 98.300%, 388.900% 97.900%, 384.700% 97.700%, 382.600% 97.600%, 380.500% 97.700%, 378.400% 97.800%, 377.900% 97.800%, 377.900% 97.800%, 377.600% 97.800%, 376.400% 97.900%, 374.000% 98.100%, 372.800% 98.200%, 371.700% 98.300%, 367.600% 98.900%, 358.800% 100.800%, 340.700% 106.700%, 304.100% 125.700%, 268.000% 152.000%, 259.300% 159.500%, 257.200% 161.400%, 256.300% 162.300%, 255.800% 162.800%, 255.600% 163.000%, 255.200% 163.400%, 251.400% 167.200%, 236.700% 184.800%, 213.100% 225.800%, 205.200% 248.400%, 200.400% 272.000%, 199.100% 296.200%, 199.300% 303.000%, 199.600% 309.400%, 200.000% 315.900%, 200.500% 322.400%, 203.500% 348.300%, 208.600% 373.700%, 210.200% 379.900%, 212.000% 386.100%, 214.000% 392.200%, 216.100% 398.200%, 226.500% 421.200%, 239.700% 442.400%, 255.900% 461.200%, 258.100% 463.400%, 260.300% 465.500%, 264.900% 469.600%, 269.700% 473.500%, 272.100% 475.400%, 274.600% 477.300%, 295.600% 490.700%, 301.100% 493.600%, 303.900% 495.000%, 304.600% 495.400%, 304.900% 495.600%, 305.100% 495.700%, 306.700% 496.400%, 309.800% 497.800%, 312.600% 499.100%, 315.500% 500.400%, 318.500% 501.700%, 343.000% 511.500%, 392.700% 530.000%, 417.200% 539.200%, 429.300% 543.900%, 441.200% 548.700%, 487.100% 568.700%, 529.500% 590.400%, 549.100% 602.000%, 567.500% 614.100%, 600.000% 639.600%, 603.600% 642.900%, 607.100% 646.200%, 613.900% 652.900%, 620.200% 659.600%, 626.100% 666.400%, 645.100% 693.200%, 657.300% 718.200%, 666.600% 755.500%, 667.200% 761.300%, 667.400% 765.500%, 667.600% 768.900%, 666.800% 765.600%, 665.800% 761.500%, 664.300% 755.900%, 659.100% 740.800%, 657.200% 736.300%, 655.100% 731.600%, 652.700% 726.600%, 649.900% 721.500%, 635.400% 699.600%, 614.700% 676.800%, 587.700% 654.500%, 554.900% 633.500%, 517.100% 614.100%, 496.600% 605.000%, 475.100% 596.200%, 381.000% 563.400%, 330.200% 546.600%, 277.200% 524.900%, 270.600% 521.300%, 264.100% 517.400%, 262.500% 516.400%, 260.900% 515.400%, 257.700% 513.300%, 254.500% 511.200%, 251.400% 509.000%, 248.300% 506.800%, 245.200% 504.500%, 239.200% 499.700%, 233.400% 494.600%, 230.600% 492.000%, 227.800% 489.300%, 207.400% 466.000%, 190.900% 439.900%, 169.700% 383.100%, 161.400% 324.900%, 161.100% 317.700%, 160.900% 310.500%, 160.800% 303.200%, 160.800% 296.400%, 163.300% 266.500%, 180.800% 211.000%, 194.500% 186.500%, 210.700% 164.400%, 229.100% 144.700%, 234.200% 140.100%, 234.900% 139.500%, 235.300% 139.200%, 235.300% 139.200%, 236.700% 138.000%, 239.300% 135.900%, 249.400% 128.200%, 269.900% 114.400%, 290.700% 102.400%, 333.100% 84.700%, 354.600% 79.900%, 365.300% 78.700%, 370.900% 78.500%, 372.200% 78.500%, 373.400% 78.500%, 375.800% 78.600%, 377.000% 78.600%, 377.300% 78.600%, 377.900% 78.600%, 378.600% 78.600%, 381.200% 78.800%, 383.800% 79.000%, 386.300% 79.300%, 391.300% 80.000%, 396.100% 80.900%, 414.000% 86.100%, 429.800% 92.900%, 437.000% 96.600%, 443.700% 100.400%, 466.600% 115.700%, 483.700% 129.600%, 495.600% 140.700%, 502.600% 147.900%, 504.700% 150.900%);*/
	-webkit-shape-image-threshold: 0.5;
	/*background: #009966 url(path/to/background-image.jpg);*/
	/*-webkit-mask-image: url(../img/heart.png);*/
}

.shaped{
  height: 960px;
  width: 960px;
  float: left;
  background:black url(../img/heart2.png);
  background-size:cover;
  -webkit-shape-outside: polygon(531px 351px, 520px 343px, 488px 323px, 464px 311px, 435px 301px, 431px 300px, 427px 300px, 425px 299px, 423px 299px, 419px 298px, 415px 298px, 411px 298px, 409px 298px, 407px 298px, 404px 298px, 404px 298px, 404px 298px, 404px 298px, 402px 298px, 400px 298px, 399px 298px, 398px 298px, 394px 299px, 385px 301px, 367px 307px, 330px 326px, 294px 352px, 285px 360px, 283px 361px, 282px 362px, 282px 363px, 282px 363px, 281px 363px, 277px 367px, 263px 385px, 239px 426px, 231px 449px, 226px 472px, 225px 496px, 225px 503px, 226px 510px, 226px 516px, 227px 523px, 230px 548px, 235px 574px, 236px 580px, 238px 586px, 240px 592px, 242px 598px, 253px 621px, 266px 643px, 282px 661px, 284px 664px, 286px 666px, 291px 670px, 296px 674px, 298px 676px, 301px 677px, 322px 691px, 327px 694px, 330px 695px, 331px 695px, 331px 696px, 331px 696px, 333px 696px, 336px 698px, 339px 699px, 342px 700px, 345px 702px, 369px 712px, 419px 730px, 443px 739px, 455px 744px, 467px 749px, 513px 769px, 556px 791px, 575px 802px, 594px 814px, 626px 840px, 630px 843px, 633px 846px, 640px 853px, 646px 860px, 652px 867px, 671px 893px, 683px 918px, 693px 956px, 693px 961px, 693px 966px, 694px 969px, 693px 966px, 692px 962px, 690px 956px, 685px 941px, 683px 936px, 681px 932px, 679px 927px, 676px 922px, 661px 900px, 641px 877px, 614px 855px, 581px 834px, 543px 814px, 523px 805px, 501px 796px, 407px 764px, 356px 747px, 303px 725px, 297px 721px, 290px 718px, 289px 717px, 287px 716px, 284px 713px, 281px 711px, 277px 709px, 274px 707px, 271px 705px, 265px 700px, 259px 695px, 257px 692px, 254px 689px, 233px 666px, 217px 640px, 196px 583px, 187px 525px, 187px 518px, 187px 511px, 187px 503px, 187px 497px, 189px 467px, 207px 411px, 221px 387px, 237px 365px, 255px 345px, 260px 340px, 261px 340px, 261px 339px, 261px 339px, 263px 338px, 265px 336px, 275px 328px, 296px 315px, 317px 303px, 359px 285px, 381px 280px, 391px 279px, 397px 279px, 398px 279px, 399px 279px, 402px 279px, 403px 279px, 403px 279px, 404px 279px, 405px 279px, 407px 279px, 410px 279px, 412px 279px, 417px 280px, 422px 281px, 440px 286px, 456px 293px, 463px 297px, 470px 301px, 493px 316px, 510px 330px, 522px 341px, 529px 348px, 531px 351px);
  shape-outside: polygon(531px 351px, 520px 343px, 488px 323px, 464px 311px, 435px 301px, 431px 300px, 427px 300px, 425px 299px, 423px 299px, 419px 298px, 415px 298px, 411px 298px, 409px 298px, 407px 298px, 404px 298px, 404px 298px, 404px 298px, 404px 298px, 402px 298px, 400px 298px, 399px 298px, 398px 298px, 394px 299px, 385px 301px, 367px 307px, 330px 326px, 294px 352px, 285px 360px, 283px 361px, 282px 362px, 282px 363px, 282px 363px, 281px 363px, 277px 367px, 263px 385px, 239px 426px, 231px 449px, 226px 472px, 225px 496px, 225px 503px, 226px 510px, 226px 516px, 227px 523px, 230px 548px, 235px 574px, 236px 580px, 238px 586px, 240px 592px, 242px 598px, 253px 621px, 266px 643px, 282px 661px, 284px 664px, 286px 666px, 291px 670px, 296px 674px, 298px 676px, 301px 677px, 322px 691px, 327px 694px, 330px 695px, 331px 695px, 331px 696px, 331px 696px, 333px 696px, 336px 698px, 339px 699px, 342px 700px, 345px 702px, 369px 712px, 419px 730px, 443px 739px, 455px 744px, 467px 749px, 513px 769px, 556px 791px, 575px 802px, 594px 814px, 626px 840px, 630px 843px, 633px 846px, 640px 853px, 646px 860px, 652px 867px, 671px 893px, 683px 918px, 693px 956px, 693px 961px, 693px 966px, 694px 969px, 693px 966px, 692px 962px, 690px 956px, 685px 941px, 683px 936px, 681px 932px, 679px 927px, 676px 922px, 661px 900px, 641px 877px, 614px 855px, 581px 834px, 543px 814px, 523px 805px, 501px 796px, 407px 764px, 356px 747px, 303px 725px, 297px 721px, 290px 718px, 289px 717px, 287px 716px, 284px 713px, 281px 711px, 277px 709px, 274px 707px, 271px 705px, 265px 700px, 259px 695px, 257px 692px, 254px 689px, 233px 666px, 217px 640px, 196px 583px, 187px 525px, 187px 518px, 187px 511px, 187px 503px, 187px 497px, 189px 467px, 207px 411px, 221px 387px, 237px 365px, 255px 345px, 260px 340px, 261px 340px, 261px 339px, 261px 339px, 263px 338px, 265px 336px, 275px 328px, 296px 315px, 317px 303px, 359px 285px, 381px 280px, 391px 279px, 397px 279px, 398px 279px, 399px 279px, 402px 279px, 403px 279px, 403px 279px, 404px 279px, 405px 279px, 407px 279px, 410px 279px, 412px 279px, 417px 280px, 422px 281px, 440px 286px, 456px 293px, 463px 297px, 470px 301px, 493px 316px, 510px 330px, 522px 341px, 529px 348px, 531px 351px);
  -webkit-clip-path: polygon(531px 351px, 520px 343px, 488px 323px, 464px 311px, 435px 301px, 431px 300px, 427px 300px, 425px 299px, 423px 299px, 419px 298px, 415px 298px, 411px 298px, 409px 298px, 407px 298px, 404px 298px, 404px 298px, 404px 298px, 404px 298px, 402px 298px, 400px 298px, 399px 298px, 398px 298px, 394px 299px, 385px 301px, 367px 307px, 330px 326px, 294px 352px, 285px 360px, 283px 361px, 282px 362px, 282px 363px, 282px 363px, 281px 363px, 277px 367px, 263px 385px, 239px 426px, 231px 449px, 226px 472px, 225px 496px, 225px 503px, 226px 510px, 226px 516px, 227px 523px, 230px 548px, 235px 574px, 236px 580px, 238px 586px, 240px 592px, 242px 598px, 253px 621px, 266px 643px, 282px 661px, 284px 664px, 286px 666px, 291px 670px, 296px 674px, 298px 676px, 301px 677px, 322px 691px, 327px 694px, 330px 695px, 331px 695px, 331px 696px, 331px 696px, 333px 696px, 336px 698px, 339px 699px, 342px 700px, 345px 702px, 369px 712px, 419px 730px, 443px 739px, 455px 744px, 467px 749px, 513px 769px, 556px 791px, 575px 802px, 594px 814px, 626px 840px, 630px 843px, 633px 846px, 640px 853px, 646px 860px, 652px 867px, 671px 893px, 683px 918px, 693px 956px, 693px 961px, 693px 966px, 694px 969px, 693px 966px, 692px 962px, 690px 956px, 685px 941px, 683px 936px, 681px 932px, 679px 927px, 676px 922px, 661px 900px, 641px 877px, 614px 855px, 581px 834px, 543px 814px, 523px 805px, 501px 796px, 407px 764px, 356px 747px, 303px 725px, 297px 721px, 290px 718px, 289px 717px, 287px 716px, 284px 713px, 281px 711px, 277px 709px, 274px 707px, 271px 705px, 265px 700px, 259px 695px, 257px 692px, 254px 689px, 233px 666px, 217px 640px, 196px 583px, 187px 525px, 187px 518px, 187px 511px, 187px 503px, 187px 497px, 189px 467px, 207px 411px, 221px 387px, 237px 365px, 255px 345px, 260px 340px, 261px 340px, 261px 339px, 261px 339px, 263px 338px, 265px 336px, 275px 328px, 296px 315px, 317px 303px, 359px 285px, 381px 280px, 391px 279px, 397px 279px, 398px 279px, 399px 279px, 402px 279px, 403px 279px, 403px 279px, 404px 279px, 405px 279px, 407px 279px, 410px 279px, 412px 279px, 417px 280px, 422px 281px, 440px 286px, 456px 293px, 463px 297px, 470px 301px, 493px 316px, 510px 330px, 522px 341px, 529px 348px, 531px 351px);
  -webkit-shape-margin: 20px;

  /*-webkit-shape-outside: url(../img/heart2.png) left;  */
}